.projects {
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.projects h2 {
  font-size: 300%;
  display: inline-block;
  margin: 20px auto;
  padding: 0 5px;
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--secondary-color);
}

.project {
  margin: 10px 0;
}

.project .prose p {
  font-size: 120%;
  text-align: justify;
  text-indent: 1.5em;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1em auto;
  row-gap: 1rem;
}

.project-links li {
  max-width: 100%;
  padding: 0 10px;
}

.project-links a {
  display: inline-block;
  overflow-wrap: anywhere;
}

.project-links img {
  vertical-align: middle;
}

.project .prose a {
  color: var(--secondary-color);
}

@media screen and (max-width: 1000px) {
  .projects {
    max-width: 95%;
  }
}

@media (max-width: 640px) {
  .projects h2 {
    font-size: 200%;
    overflow-wrap: anywhere;
  }

  .project .prose p {
    text-align: left;
    text-indent: 0;
  }
}
