/*
    From https://www.w3schools.com/howto/howto_css_timeline.asp
*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-card {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-card::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-card:nth-child(odd) {
  left: 0;
}

/* Place the container to the right */
.timeline-card:nth-child(even) {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-card:nth-child(odd)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-card:nth-child(even)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-card:nth-child(even)::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

.organization-logo {
  display: block;
  width: auto;
  height: auto;
  max-width: 33%;
  /* The supplied Eugen Systems logo is white on a transparent background. */
  background: var(--background-start);
  padding: .5rem;
  border-radius: .25rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1000px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-card {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-card:nth-child(odd)::before,
  .timeline-card:nth-child(even)::before {
    left: 60px;
    right: auto;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-card:nth-child(odd)::after,
  .timeline-card:nth-child(even)::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .timeline-card:nth-child(even) {
    left: 0%;
  }
}

.timeline-entry h3,
.technologies h3 {
  display: inline-block;
  vertical-align: middle;
  color: #ff9f55;
}

.timeline p {
  color: rgb(45, 45, 45);
  font-size: 110%;
}

.timeline .timeline-content p {
  margin: inherit;
}

.timeline .line-break {
  width: 100%;
}

.timeline-section > h2 {
  text-align: center;
  font-size: 300%;
  font-weight: normal;
  margin: .67em 0;
}

.timeline-entry h3 {
  font-size: 1.5em;
  margin: .83em 0;
}

.timeline-content {
  overflow-wrap: anywhere;
}

.timeline-content .duration {
  display: inline-block;
  font-size: 1.17em;
  font-weight: bold;
  color: #ff9f55;
}

@media (max-width: 640px) {
  .timeline-section > h2 {
    font-size: 200%;
  }

  .timeline-card,
  .timeline-card:nth-child(even) {
    padding-right: 0;
    padding-left: 55px;
  }

  .timeline-card:nth-child(odd)::before,
  .timeline-card:nth-child(even)::before {
    left: 45px;
  }

  .timeline-content {
    padding: 15px;
  }

  .organization-logo {
    max-width: 60%;
  }
}
